body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.col .card{
  margin-bottom: 50px;
}

.price{
  text-indent: 4%;
  font-weight: 450;
}

.area{
  font-weight: bold;
}

.card-content .type, .card-content .area{
  padding-bottom: 10px;
}

.card-content{
  margin-top: -5%;
  font-size: 11px;
}

.col .card .card-image img{
  transition: transform .5s;
  z-index: 1;
}

.col .card .card-image img:hover{
  -ms-transform: scale(1.03); /* IE 9 */
  -webkit-transform: scale(1.03); /* Safari 3-8 */
  transform: scale(1.03); 
}

.nav-wrapper{
  position: fixed;
  width: 100%;
  z-index: 2;
}

.section{
  padding-top: 75px;
  top: 0;
  left: 0;
  right: 0;
}

form{
  padding-top: 75px;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color:#42bcf5;
  box-shadow: none;
}